$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$mainFont: 'Raleway', 'Helvetica', 'Arial', sans-serif;

$mainFontColor: #ffffff;
$mainFontSize: calc(var(--index) * 0.8);
$mainFontWeight: 300;
$mainLineHeight: 1.75;
$mainBgColor: #000000;
